<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Nada App</title>
	<link rel="stylesheet" href="css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="css/bootstrap-responsive.css" media="screen">
	<link rel="stylesheet" href="css/main.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<h1>Nada App</h1>
	</header>
	<div class="container">
		<%- body %>
	</div>
	<footer>
		<div style="text-align: center;">
			&copy; Adan Perez 2012
		</div>
	</footer>
	<script src="/js/jquery-1.8.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<%- scripts %>
</body>
</html>